*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: rgb(250, 243, 243);
    text-align: center;
    width: 1187px;
    height: 100px;
    box-shadow: 0px 1px 5px rgb(87, 85, 87);
    
}
.navli{
    display: flex;
    }
.navli li{
    display: flex;
    display: inline-flex;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 140px;
    word-spacing: 30%;
}
a{
    text-decoration: none;
    color: rgb(123, 119, 119);
}
:hover a{
    color: rgb(7, 6, 6);
}
.navnike{
    color: rgb(250, 143, 13);
}
.navimg{
    padding-top: 20px;
    display: flex;
    padding-left: 140px;
        justify-content: center;
            justify-items: center;
            text-align: center;
            padding-top: 30px;

}